:root {
  --color-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}
@media only screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(to bottom, var(--color-soft-violet), var(--color-soft-blue));
  color: var(--color-dark-desaturated-blue);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.main {
  width: min(90%, 90rem);
  background-color: #fff;
  border-radius: 2rem;
  padding: 5rem 7rem;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: -485% 65%;
  background-repeat: no-repeat;
  background-size: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 5rem;
}
@media only screen and (max-width: 62.5em) {
  .main {
    margin: 25rem 0 5rem;
    overflow: unset;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-position: 50% 0%;
    background-size: 45rem;
    flex-direction: column;
  }
}
@media only screen and (max-width: 43.75em) {
  .main {
    margin: 15rem 0 5rem;
    background-size: 30rem;
    padding: 3.5rem;
    background-position: 50% -5%;
  }
}
.main::after {
  content: "";
  position: absolute;
  background-image: url(../images/illustration-box-desktop.svg);
  background-repeat: no-repeat;
  display: block;
  width: 15rem;
  height: 15em;
  translate: -17rem 35%;
}
@media only screen and (max-width: 62.5em) {
  .main::after {
    display: none;
  }
}
.main__left {
  width: 45%;
}
@media only screen and (max-width: 62.5em) {
  .main__left {
    height: 20rem;
    width: 100%;
    top: 3%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__left {
    height: 10rem;
  }
}
.main__illustration-woman {
  width: 45rem;
  translate: -15rem 0%;
}
@media only screen and (max-width: 62.5em) {
  .main__illustration-woman {
    translate: 0% -28rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__illustration-woman {
    width: 30rem;
    translate: 0% -21rem;
  }
}
.main__illustration-box-img {
  min-height: 100%;
}
.main__right {
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .main__right {
    width: 90%;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__right {
    width: 100%;
  }
}
.main__dropdown-box {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.main__dropdown {
  border-bottom: 1px solid var(--color-light-grayish-blue);
  padding-bottom: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.main__question-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__arrow-box {
  width: 1.25rem;
  transition: rotate 0.2s;
}
.main__question {
  font-size: 1.5rem;
  color: var(--color-very-dark-grayish-blue);
  transition: color 0.2s;
}
.main__question-box:hover .main__question {
  color: var(--color-soft-red);
}
.main__answer {
  font-size: 1.2rem;
  color: var(--color-very-dark-grayish-blue);
  display: none;
}

.heading {
  font-size: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .heading {
    text-align: center;
  }
}

.unhide {
  display: block;
}

.rotate {
  rotate: 180deg;
}

.bold {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
